*{
  box-sizing: border-box;
}

body{
  background-color: #a39f9f;
}

.header {
  text-align: center;
}
.main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.formulario input {
  width: 400px;
}

.div-resultados {
  width: 90%;
  padding: 20px;;
  
}
.div-resultados p {
  font-weight: bold;
  letter-spacing: 1px;
  
}
.div-resultados p span {
  color: white;
  padding: 5px;

}
.boton {
  background-color: skyblue;
}
.correcto {
  background-color: blue;
}
.incorrecto {
  background-color: red;
}

